.presentacionContain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44rem;

}

.presentacionTexto{
    text-align: center;
    font-size: var(--letraMedia);
    color: var(--verde);
    padding: 2rem;
    max-width: 40rem;
}

.presentacionImg{
    max-width: 30rem;

    img{
        border-radius: 35%;
    }

    
}
