nav {
    padding: 1rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navLink{
    background-color: #ffc8dd;
    padding: 1rem;
    border-radius: 15%;;
    text-decoration: none;
    box-shadow: 5px 5px 5px #ffafcc ;
    color: black;
}