nav {
    padding: 3rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content:right;
}

.navLink{
    padding: 1rem;
    border-radius: 15%;
    text-decoration: none;
    color: var(--blanco);
    font-size: var(--letraMedia);
    transition:  0.2s;
}

.navLink:hover{
    color: var(--verde);
}

@media (max-width: 768px) {
    
    ul {
        justify-content:center;
    }

}